*.sln.*
*.suo
*.bak
*.csproj.user
*.pidb
*.nupkg
*.shfbproj_*
*.vshost.exe
*.pdb
MsgPack.*.zip
_Resharper.*/
_UpgradeReport_*/
UpgradeLog*.*
/bin/
Bin/
Backup/
Help*/
lib/
local/
obj/
packages/
Index.dat
Storage.dat
test-results/
TestResult/
TestResults/
*.userprefs
.DS_Store
.project
src/MsgPack.Unity/Assets/MsgPack/*
src/MsgPack.Unity/Library/
MsgPack.unitypackage
src/MsgPack.Unity/Assets/
src/MsgPack.Unity/ProjectSettings/
